.shop-wrapper {
    width: 100%;
    display: flex; 
    align-items: center;
    background: var(--charcoal-black-gradient);
    color: white;
}

.shop-container {
    /* text-align: center; */
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}

.clock {
    color: var(--aqua);
}

.shop-container p {
    font-size: 1.05rem;
    letter-spacing: 0.025rem;
    line-height: 1.5rem;;
    color: #e4f0f7
}

.shop-container h2 {
    color:rgb(0, 255, 234);
}