/* Background styling for the hero section */
.hero-background {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    padding-bottom: 2rem; 
    transition: background-image 0.3s ease-in-out;
}

.hero-Overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  /* z-index: 500; */
  background-color: rgba(0, 0, 0, 0.73);
}

.writeup-container {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  padding:50px 20px;
  font-weight: 600;
  color:rgb(240, 239, 239);
  z-index: 300;
}

.writeup-container span{
  color: var(--orangecolor);
}

.hero-book-session-container{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.hero-socialmedia-container {
  position: fixed;
  top: 55%; 
  right: 20px; 
  transform: translateY(-50%); 
  display: flex;
  flex-direction: column;
  gap: 20px; 
  z-index: 1000; 
}
.social-media-icon{
  font-size: 3rem;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.social-media-icon:hover {
  transform: scale(1.3);
}

.hero-button {
  padding: 1rem 1.5rem; 
  width:12rem; 
  font-size: 1.2rem; 
  font-weight: 600; 
  color: rgb(3, 3, 3);
  background: var(--orange-gradient); 
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease; 
  text-transform: capitalize; 
  cursor: pointer;
}


/* Button hover effect */
.hero-button:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: var(--pearl-gradient); 
}


/* For smaller devices, ensure responsiveness */

@media (min-width: 250px) and (max-width: 900px) {

}

@media (max-width: 1300px) {
  .writeup-container {
    font-size: 3.5rem;
  }

}
@media (max-width: 900px) {
  .writeup-container {
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-18%, -50%);
    font-size: 2.8rem;
  }
  
  .writeup-container span{
    color: var(--orangecolor);
  }
}
@media (max-width: 500px) {
  .writeup-container {
    top:45%;
    left: 50%;
    padding:0 0;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
  }

  .hero-book-session-container {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    padding: 0 0;
  }

  .hero-button {
    width: 10rem;
    padding: 1rem 1rem; 
    font-size: 1.2rem;
  }

  
}