.contact-wrapper{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: var(--charcoal-black-gradient);
}

.contact-container {
    /* text-align: center; */
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}

/* here bt */

.contact-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
}
  
.contact-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1.5rem;
}
  
.contact-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--black);
}
  
.contact-icon {
    font-size: 1.2rem;
    color: var(--orangecolor);
}
  
.contact-item span {
    font-size: 1.02rem;
    font-weight: 700;
    color: #e4f0f7;
}

@media (max-width: 768px) {
    .contact-row {
        display: flex;
        gap:0.5rem;
        flex-direction: column;
    }
    .contact-details {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}